.box {
  display: inline-flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  user-select: none;
  white-space: nowrap;
}

.link {
  line-height: 1.7em;
  padding: 0.3em 0.8em;
  color: #c9d1d9;
  cursor: pointer;
  background-color: #21262d;
  border: 1px solid rgb(240 246 252 / 10%);
}

.link:focus,
.link:hover {
  background-color: #30363d;
  border: 1px solid #8b949e;
  text-decoration: none;
}

.github {
  composes: link;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 4px 0 0 4px;
}

.stars {
  composes: link;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
