.view {
  height: 20vh;
  min-height: 5em;
  background-color: transparent;
  margin-top: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
  position: relative;
}

.color {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0.2em 1em;
  background-color: rgb(255 255 255 / 50%);
  border-radius: var(--radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: all;
}

.size {
  background-color: rgb(255 255 255 / 50%);
  border-radius: var(--radius);
  font-size: 90%;
  padding: 0.2em 1em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  user-select: none;
}

.preset {
  position: absolute;
  right: -28px;
  top: 0;
}
