.box {
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 0.5em;
}

.label {
  display: inline-block;
  min-width: 1em;
}

.number {
  text-align: center;
  max-width: 3em;
  border: var(--border);
  border-radius: var(--radius);
}

.range {
  appearance: none;
  height: 1em;
  margin-top: 0.2em;
  background-color: transparent;
  border: none;
  width: 100%;
}

.range::-moz-range-track {
  background-color: var(--c-pr);
  height: 5px;
  border-radius: 10px;
}

.range::-webkit-slider-runnable-track {
  background-color: var(--c-pr);
  height: 5px;
  border-radius: 10px;
}

.range::-moz-range-thumb {
  appearance: none;
  height: 28px;
  width: 28px;
  background-color: var(--c-pr);
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%)
}

.range::-webkit-slider-thumb {
  appearance: none;
  height: 28px;
  width: 28px;
  background-color: var(--c-pr);
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translateY(calc(-50% + 2px));
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.range::-moz-range-thumb:hover {
  transform: scale(1.1);
}

.range::-webkit-slider-thumb:hover {
  transform: scale(1.1) translateY(calc(-50% + 2px));
}
.range:focus {
  outline: none;
}
