.page {
  display: grid;
  height: 100vh;
  grid-template:
    "header header header" var(--header-h)
    "toolbar main history" 1fr
    "footer footer footer" var(--footer-h) / var(--toolbar-w) 1fr;
}

.header {
  display: flex;
  grid-area: header;
  height: var(--header-h);
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  position: relative;
}

.toolbar {
  grid-area: toolbar;
  background: linear-gradient(180deg, #0d1117 20%, #330e66 80%);
  padding: 1em 0;
}

.main {
  grid-area: main;
  padding: 3em 2em;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  background: #fff 16px 16px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><rect x="8" width="8" height="8"/><rect y="8" width="8" height="8"/></svg>');
}

.history {
  grid-area: history;
  overflow: hidden;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  align-items: center;
  height: var(--footer-h);
  color: #c9d1d9;
  background-color: #0d1117;
}

.left {
  display: flex;
  flex: 0 0 var(--toolbar-w);
  height: var(--header-h);
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--c-pr);
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 1em;
}

.title {
  font-size: 2em;
  margin: 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .page {
    display: block;
    height: auto;
  }

  .left {
    display: none;
  }

  .title {
    font-size: 1.5em;
  }
}
