.range {
  appearance: none;
  width: 100%;
  height: 20px;
  margin-top: 0.2em;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.range::range-track {
  background-color: #ddd;
  height: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.range::range-thumb {
  border: 1px solid #555;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  margin-top: -8px;
}

.range:focus {
  outline: none;
}
