.range {
  appearance: none;
  width: 100%;
  margin: 4.3px 0;
  margin-bottom: 1em;
}

.range:focus {
  outline: none;
}

.range::range-track {
  background-color: #ddd;
  height: 5px;
  cursor: pointer;
}

.range::range-thumb {
  border: 1px solid #222;
  height: 20px;
  width: 15px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  appearance: none;
  margin-top: -8px;
}
