@import './range.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: #ccc;
}

::selection {
  background-color: #176CED;
  color: #fff;
}

.wrapper {
  background-color: #fff;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee);
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;
}

.sitebar {
  position: relative;
  background-color: #f5f5f5;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  padding: 25px 15px;
}

.fields {
  border: none;
  padding: 0;
  margin: 0;
}

.field__box {
  display: block;
  margin-bottom: 15px;
}

.field {
  padding: 5px 15px;
  width: 100%;
  border: 1px solid #C6E2F7;
  font-size: 16px;
  font-family: monospace;
  border-radius: 4px;
  -webkit-touch-callout: none;
}

.field__number {
  user-select: none;
}

.field__output {
  cursor: copy;
}

.btn {
  width: 100%;
  font-size: 1em;
  padding: 5px 15px;
  border-radius: 4px;
  user-select: none;
  -webkit-touch-callout: none;
}

.content {
  position: relative;
  padding: 25px 50px;
}

.output_image {
  height: 200px;
  min-width: 200px;
  background-repeat: repeat;
  background-color: transparent;
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;
  border: 3px solid #eee;
}

.link {
  color: #176CED;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #fff;
}

@media (min-width: 700px) {
  .sitebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 305px;
    width: 100%;
    background-color: #f5f5f5;
    border-width: 0 2px 0 0;
  }

  .content {
    margin-left: 305px;
  }
}
