summary {
  border-radius: 4px;
  letter-spacing: normal;
  transition: background-color 0.3s ease;
}

summary::after {
  content: "+";
  float: left;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

details[open] summary::after {
  content: "-";
}
