.list {
  --size: 1.4em;

  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  padding: 1px;
  width: var(--size);
  height: var(--size);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.link {
  display: block;
  width: var(--size);
  height: var(--size);
  color: var(--c-txt);
  position: relative;
}

.link::before {
  content: attr(href);
  text-transform: uppercase;
  position: fixed;
  right: 2em;
  font-size: 90%;
  font-family: monospace;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 1px 1em;
  display: none;
}

.link:hover::before {
  display: block;
}

@media (max-width: 700px) {
  .list {
    display: flex;
  }
}
