.box {
  display: grid;
  grid-template-columns: auto 4em;
  gap: 1em;
  align-items: end;
}

.inp {
  width: 100%;
  margin: 0.5em 0;
  padding: var(--pdg);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
}

.inp::-webkit-search-cancel-button {
  appearance: none;
  opacity: 0;
}
