.box {
  padding: 1em;
  color: #fff;
}

.title {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 1em;
  outline: none;
  padding: 0;
  color: #fff;
  user-select: none;
}

.title::after {
  content: "+";
  float: left;
  font-size: 1em;
  font-weight: 700;
  height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 1em;
}

.box[open] .title::after {
  content: "-";
}
